table {
	width: 100%;
	table-layout: fixed;
	white-space: nowrap;
}

thead {
	background: #f6f6f6;
}

tbody > tr:nth-child(odd) {
	background: #fff;
}

tbody > tr:nth-child(even) {
	background: #f9f9f9;
}

td {
	padding: 8px;
}

td.date_field {
	width: 6%;
	text-align: center;
}

td.debit_field {
	width: 15%;
}

td.credit_field {
	width: 15%;
}

td.amount_field {
	width: 10%;
	text-align: right;
}

td.description_field {
	width: 99%;
}
