table {
	width: 100%;
	table-layout: fixed;
	white-space: nowrap;
}

thead {
	background: #f6f6f6;
}

tbody > tr:nth-child(odd) {
	background: #fff;
}

tbody > tr:nth-child(even) {
	background: #f9f9f9;
}

td {
	padding: 8px;
}

td.date_field {
	width: 6.5em;
	text-align: center;
}

td.debit_field {
	width: 15%;
}

td.credit_field {
	width: 15%;
}

td.amount_field {
	width: 7em;
	text-align: right;
}

td.amount_field input {
	width: 3.5em;
}
td.amount_field select {
	width: 3.5em;
}

td.description_field {
	max-width: 50%;
}

td.description_field input[type="text"] {
	width: calc(100% - 7em);
}

td.description_field input[type="submit"] {
	width: 7em;
}
