server {
	listen 80;
	listen [::]:80;
	server_name {{server_name}};
	return 301 https://{{server_name}}$request_uri;
}

server {
	listen 443 ssl;
	server_name {{server_name}};

	ssl_certificate     /etc/letsencrypt/live/{{server_name}}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{server_name}}/privkey.pem;

	charset utf-8;
	client_max_body_size 75M;
	error_log error.log;
	location / {
		uwsgi_pass unix:///run/uwsgi/app/{{project_name}}/socket;
		include uwsgi_params;
	}
	location /static {
		alias {{project_dir}}/static;
		expires 365d;
	}
	location /media {
		alias {{project_dir}}/media;
		expires 365d;
	}
	location /player/private/media/ {
		alias {{project_dir}}/media/;
	}
	location /robots.txt {
		root {{project_dir}}/static/;
	}
	location /favicon.ico {
		root {{project_dir}}/static/;
	}
}
